:root {
 /* used for variables for CSS use only
    -----------------------------------
*/

/*intro screen pos */
   --introScr-left: 30px;
   --introScr-top: 40px;
/* command textbox */
   --textbox-command-top:90%;
   --textbox-command-left:162px;
   --textbox-command-width:300px;
   --textbox-command-height:18px;
/* label for command textbox */
   --label-command-top:88%;
   --label-command-left:20px;
   --label-command-width:200px;
   --label-command-height:20px;

/* start button */
   --button-start-top: 80%;
   --button-start-left: 440px;
   --button-start-width: 150px;
   --button-start-height: 60px;
}

body {
   background-color: blue;
}
h1 {
   color:white;
}

/*elements*/

#maindisplay {
   margin: 0 auto;
   max-width: 2000;
}

#txtCommand {
   top: var(--textbox-command-top);
   left: var(--textbox-command-left);
   width: var(--textbox-command-width);
   height: var(--textbox-command-height);
   position: absolute;
   z-index: 2;
   background-color: rgb(77, 73, 92); 
   color: white;
   font-weight: bold;
   font-size: large;
   border-style:none;
}
#btnStart {
   top: var(--button-start-top);
   left: var(--button-start-left);
   width: var(--button-start-width);
   height: var(--button-start-height);
   position: absolute;
   font-size: large;
   color: white;
   background-color: rgb(52, 42, 109);
   border-radius: 16%;
   border-style: solid;
   /*set delay for hover*/
   transition: 0.3s; 
   /* cause button text to change - animate colour*/
   animation: blinker 3s infinite;
   animation-timing-function: linear;
}
@keyframes blinker {
      5% {
         color:white;
      }
      25% {
         color:blue;
      }
      50% {
         color:green;
      }
      90%{
         color:yellow;
      }
}
#btnStart:hover {
   background-color: cadetblue;
   cursor: grab;
}
#lblCommand {
   top: var(--label-command-top);
   left: var(--label-command-left);
   width: var(--label-command-width);
   height: var(--label-command-height);
   position: absolute;
   background-color: blue;
   color: white;
   font-weight: bold;
   font-size: large;
}

/*screens*/
#scr--introScr1 {
   padding-left: var(--introScr-left); 
   padding-top: var(--introScr-top);
   position:  absolute;
}

#scr--introScr2 {
   padding-left: var(--introScr-left); 
   padding-top: var(--introScr-top);
   position: absolute;
}

#scr--exitScr {
   top: var(--introScr-top);
   left: var(--introScr-left);  
   position: absolute;
}   
#scr--gameRoom {
   top: var(--introScr-top);
   left: var(--introScr-left);  
   position: absolute;
   color: white;
   font-size: large;
}   
#scr--playAgainScr {
   top: var(--introScr-top);
   left: var(--introScr-left);  
   position: absolute;
   color: white;
}
/*   
   padding-top:  30px;
   padding-bottom:  15px;
   padding-right: 30px;
  border: #000 solid;
 */  
 